body{
    background-image: url(images/marketplace.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form .register-form{
    display: none;
}

.form{
    position: relative;
    z-index: 1;
    background: #9e4a42;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;   
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #383231;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #f0e5e4;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active{
    background: #43A047;
}

.form .message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form .message a{
    color: #ebdb2f;
    text-decoration: none;
}

